body{
    background-color: bisque;
}

ul{
    font-size: large;
}

.main{
    font-family: 'Courier New', Courier, monospace;
}

.main::first-line{
    background-color: lightgray;
}

#information{
    text-align: center;
}

a[href*=".edu"]{
    background-color: gold;
}

h1:hover{
    color: red;
}